<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2D Project Bonus</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="home">
        <div class="heading">
            <h1>DDW 2D!</h1>
            <h3>Cohort 5 Group 3</h3>
        </div>
        <div>
            <button type="submit" class="button"><a href="{{ url_for('/task_1/') }}" target="_blank">Task 1</a></button>
            <button type="submit" class="button"><a href="{{ url_for('/task_2/') }}" target="_blank">Task 2</a></button>
            
        </div>
    </div>
</body>
</html>